
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #0f0c0a;
    color: #f5f5f5;
    line-height: 1.6;
}

/* ==== Navbar ==== */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background: #1a1410;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #2a201a;
}

.logo{
    font-size: 26px;
    font-weight: bold;
    color: #c89b6d;
    letter-spacing: 1px;
}

#menu-toggle{
    display: none;
}

.menu-icon{
    display: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 768px){
    .menu-icon{
        position: relative;
        z-index: 2000;
        margin-left: auto;
        display: block;
    }
    .links{
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background: #0f0f12;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        transition: right 0.4s ease;
        box-shadow: -10px 0 30px rgba(0, 0, 0, 0.6);
        z-index: 1000;
    }
    #menu-toggle:checked ~ .links{
        right: 0;
    }
    .links a{
        font-size: 22px;
    }
    .links button{
        font-size: 18px;
        padding: 12px 20px;
    }
}

.links{
    display: flex;
    gap: 25px;
}

.links a{
    text-decoration: none;
    color: #ddd;
    transition: 0.3s;
    position: relative;
}

.links a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background: #c89b6d;
    transition: 0.3s;
}

.links a:hover{
    color: #fff;
}

.links a:hover::after{
    width: 100%;
}


/* ==== Hero ==== */

.hero{
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(180deg, #0f0c0a, #1c1410);
    animation: fadeIn 1.2s ease;
}

.hero h1{
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p{
    max-width:650px;
    margin: auto;
    margin-bottom: 30px;
    color: #cfcfcf;
}

.btn-primary{
    display: inline-block;
    padding: 14px 28px;
    background: #c89b6d;
    color: #111;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-primary:hover{
    background: #e2b98b;
    transform: translateY(-2px)
}

/* ==== Menu ==== */

.menu{
    padding: 80px 60px;
    text-align: center;
}

.menu h2{
    font-size: 34px;
    margin-bottom: 40px;
}

.menu-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
}

.menu-card{
    background: #1a1410;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid #2a201a;
    transition: 0.35s;
    animation: fadeUp 0.8s ease;
}

.menu-card:hover{
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

.menu-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menu-card h3{
    margin-top: 12px;
    color: #c89b6d;
}


.menu-card p{
    padding: 0 12px;
    color: #bbb;
}

.menu-card span{
    display: block;
    margin: 15px 0;
    font-weight: bold;
    font-size: 18px;
}

/* ==== About ==== */

.about{
    padding: 80px 60px;
    text-align: center;
    background: #14100d;
}

.about h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.about p{
    max-width: 700px;
    margin: auto;
    color: #ccc;
}

/* ==== Hours ==== */

.hours{
    padding: 80px 60px;
    text-align: center;
}

.hours h2{
    margin-bottom: 40px;
    font-size: 32px;
}

.hours-container{
    max-width: 500px;
    margin: auto;
}

.day{
    display: flex;
    justify-content: space-between;
    padding: 14px 20px;
    border-bottom: 1px solid #2a201a;
    transition: 0.3s;
}

.day:hover{
    background: #1a1410;
}

/* ==== Contact ==== */

.contact{
    padding: 80px 60px;
    text-align: center;
    background: #14100d;
}

.contact h2{
    margin-bottom: 40px;
}

.contact-form{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contact-form input{
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #2a201a;
    background: #1a1410;
    color: #fff;
    outline: none;
    transition: 0.3s;
}

.contact-form input:focus{
    border-color: #c89b6d;
}

.contact-form textarea{
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #2a201a;
    background: #1a1410;
    color: #fff;
    outline: none;
    transition: 0.3s;
}

.contact-form textarea:focus{
    border-color: #c89b6d;
}

.contact-form button{
    padding: 14px;
    background: #c89b6d;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover{
    background: #e2b98b;
}

/* ==== Footer ==== */

footer{
    background: #1a1410;
    padding: 40px 20px;
    text-align: center;
    border-top: 1px solid #2a201a;
}

.footer-links{
    margin-top: 10px;
}

.footer-links a{
    color: #ccc;
    margin: 0 10px;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover{
    color: #c89b6d;
}

/* ==== Mobile ==== */

@media (max-width: 768px){
    .navbar{
        padding: 18px 25px;
    }
    .menu,
    .about,
    .hours,
    .contact{
        padding: 60px 25px;
    }
    .hero h1{
        font-size: 34px;
    }
}